<div id="layout">
  <%= erb :"_common" %>
  <div id="main">
    <div class="header">
      <h3><%= @journal.journal_name %></h3>
    </div>
    <div class="visited_place">
      <h4><% @visitedplaces.each do |visitedplaces| %></h4>
            <div> <b><%= visitedplaces.place_name %></b>
            <%= visitedplaces.location %> </div>
            <%= visitedplaces.place_description %>
            <%= visitedplaces.visited_date %>
            <%= visitedplaces.visited_time %>

          <% end %>
    </div>




    <div class="side_menu_2">
      <h3></h3>
    </div>
  </div>
</div>

