<div id="menu">
  <div class="pure-menu">

    <a class="pure-menu-heading" id="heading">Travel Journal</a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a href="/users/<%= session[:user_id] %>/journals/new" class="pure-menu-link">Add a new Journal!</a></li>
      <li class="pure-menu-item"><a href="/users/<%= session[:user_id] %>" class="pure-menu-link">Homepage</a></li>
      <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>

      <a class="pure-menu-heading" id="heading">My Journals</a>
        <% @journal_side_list.each do |row| %>
          <% if row.user_id == session[:user_id]%>
            <li class="pure-menu-item">
              <a href="/users/<%= session[:user_id] %>/journals/<%= row.id %>" class="pure-menu-link"><%= row.journal_name %></a>
            </li>
          <% end %>
        <% end %>
    </ul>
  </div>
</div>

